@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-petrol: #3C5463;
  --color-brand-hero: #4E6C84;
  --color-brand-navy: #0A2342;
  --color-brand-accent: #00B0E8;
  --color-brand-dark: #1D1D25;
  --color-brand-gray: #3a4d5c;
  --font-sans: var(--font-outfit-sans);          /* or var(--font-my-sans) */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 20px;
}

.post-content hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 2rem;
}

.post-content h3, h4 {
 @apply text-xl font-semibold mb-3 pt-3 text-brand-navy flex items-center gap-2;
}

em {
 @apply font-semibold text-brand-navy not-italic;
}

.homepage p {
 @apply text-lg leading-relaxed text-gray-700 dark:text-gray-300;
}

.intro-section p {
 @apply text-lg leading-relaxed text-gray-700 dark:text-gray-300;
}

 
