@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-brand-petrol: #3C5463;
  --color-brand-hero: #4E6C84;
  --color-brand-navy: #0A2342;
  --color-brand-accent: #00B0E8;
  --color-brand-dark: #03162e;
  --color-brand-gray: #3a4d5c;
  --font-sans: var(--font-outfit-sans);          /* or var(--font-my-sans) */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Outfit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 20px;
}

.post-content hr {
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 2rem;
}

.post-content h3, h4 {
 @apply text-xl font-semibold mb-3 pt-3 text-brand-navy flex items-center gap-2;
}

em {
 @apply font-semibold text-brand-navy not-italic;
}

.homepage p {
 @apply text-lg leading-relaxed text-gray-700 dark:text-gray-300;
}

.intro-section p {
 @apply text-lg leading-relaxed text-gray-700 dark:text-gray-300;
}

 
.text-shadow-strong {
  text-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.7),
    0px 3px 2px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-sm {
 @apply px-4 py-2 rounded-md font-semibold bg-brand-navy text-white hover:bg-brand-accent hover:text-white shadow hover:scale-105 transition-all duration-300;
}

.btn {
 @apply px-6 py-3 rounded-md font-semibold bg-brand-navy text-white hover:bg-brand-accent hover:text-white shadow hover:scale-105 transition-all duration-300;
}

.btn-white {
 @apply px-6 py-3 rounded-md font-semibold bg-white text-brand-dark hover:bg-brand-accent hover:text-white shadow hover:scale-105 transition-all duration-300;
}


